$primary-color: red;
header.logo{
  font-family: 'Pacifico', cursive;
  margin: 10px;
  font-size: 30px;
  color: $primary-color;
  a {
    display: flex;
    align-items: center;
  }
  a:visited {
    color:$primary-color;
  }

}

.logo-icon {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  background: url(https://res.cloudinary.com/dkw3fxfzr/image/upload/v1498844291/icon_xlhqzc.png);
  background-size: cover;
  display: inline-block;
}
