$primary-color: red;
body{
  font-family: 'Nunito', sans-serif;
}
.hidden{
  display: none;
  transition: opacity 1s ease-out;
  opacity: 0;
}
.intro{
  width: 100%;
  height: 500px;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  color: white;
  h1{
    font-size: 58px;
    padding: 20px;
    text-align: center;
  }
  div{
    padding: 20px;
    text-align: center;
  }
}

.large-font{
  font-size: 35px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.intro-blurb{
  width: 100%;
  font-family: sans-serif;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: center;

  p{
    font-size: 22px;
    width: 80%;
    padding: 30px;
    font-style: italic;
  }
}

.how-it-works{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  // font-family: 'Swanky and Moo Moo', cursive;


  h2{
    font-size: 30px;
    text-align: center;
    width: 90%;
    color: white;
    padding: 30px;
  }

  ol{
    font-size: 25px;
    width: 41%;
    color: white;
    padding-bottom: 30px;
  }
}

.start{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  a{
    margin: 30px;
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    border: 2px dashed $primary-color;
    padding: 15px;
    color: white;
    background-color: $primary-color;
    border-radius: 10px;
    transition: 0.3s;
    padding: 20px;
    box-shadow: 0 0 0 4px #ff0030, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);

    font-weight: normal;

    &:hover{
      color: white;
      border: 2px dashed white;
      border-radius: 10px;
      box-shadow: 0 0 0 4px #ff0030, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
      text-shadow: -1px -1px #aa3030;
    }
  }
}
