$primary-color: red;

.modal {
  margin: 40px auto;
  min-height: 300px;
  min-width: 500px;
  // max-width: 600px;
  background-color: $primary-color;
  border: 10px solid black;
  opacity: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 85%;
  height: 80%;
  align-items: center;
  outline: none;

  section{
    width: 100%;
  }
}
.modal-button-section{
  display: flex;
  justify-content: center;
}

.modal-close {
  display: flex;
  flex-direction: row-reverse;
  button {
    font-size: 17px;
    height: 40px;
    width: 40px;
    right: 7%;
    z-index: 10;
    margin: 0px 0px 5px 0px;
    padding: 0px;
    box-shadow: none;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparentize(black, 0.3);
  outline: none;
}

.menu {
  position: fixed;
  width: 200px;
  right: 20px;
  margin-top: 95px;
  font-size: 18px;
  border: none;

  li {
    padding: 10px;
    background: deepskyblue;
    &:hover {
      background: #ff6b6b;
    }
  }
  a {
    text-decoration: none;
    font-weight: 700;
    color: white;
  }
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.instructions{
  color: white;
  // font-size: 8vw;
  font-size: 10vh;
  width: 80%;
  position: fixed;
  top: 22%;
  text-align: center;
  transition: 0.5s;
  // line-height: 113px;
}

.shadow {
  // background-color: rgba(0, 0, 0, 0.8);
  border-radius: 30px;
  // box-shadow: 0px 0px 22px 20px rgba(0, 0, 0, 0.8);
  text-shadow: 0 0 20px #000;
  top: 40%;


}
.video-container {
  display: flex;
}
.video-controls {
  // box-shadow: 0 0 20px #000;
  // background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0px;
  top: 0px;
}
