$primary-color: red;

.enter-height-section{
  padding: 10px;
  width: 100%;
  height: 250px;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 3px dashed white;

  label, h2{
    font-size: 35px;
    color: white;
    position: relative;
    margin-bottom: 10px;
  }

  input {
    margin: 10px;
    font-size: 25px;
    font-family: 'Pacifico', cursive;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    width: 75px;
    text-align: center;
    border: none;
  }
}
.take-image-section{
  padding: 10px;
  width: 100%;
  height: 400px;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1{
    font-family: 'Pacifico', cursive;
    font-size: 58px;
    color: white;
    width: 70%;
  }
  h2{
    font-size: 35px;
    color: white;
    position: relative;
  }
  button {
    font-size: 40px;
    &:hover{
      // background-color: white;
      // color: $primary-color;
    }
  }
}

#video {
  position: absolute;
  left: 0;
  right: 0;
  // border-radius: 10px;
}

#video-container {
  position: relative;
}
#calcCanvas {
  position: absolute;
  left: 0;
  right: 0;
}

.canvas-pic{
  display: none;
}
