.indicator-container{
  display: inline-block;
  padding: 10px;
  h3{
    padding: 10px;
  }
}

.indicator-box{
  background-color: black;
  float: left;
  padding: 5px 25px 5px 25px;
  border: 1px solid black;
}

.green{
  background-color: green;
  float: left;
  padding: 5px 25px 5px 25px;
  border: 1px solid black;
}
