.indicator-container{
  display: flex;
}

.indicator-box{
  background-color: white;
  border: 1px solid black;
}

.green{
  background-color: green;
  float: left;
  padding: 5px;
  word-wrap: break-word;
  font-size: 2px;
  height: 10px;
  color: green;
}
