.indicator-container{
  display: flex;
// =======
//   display: inline-block;
//   padding: 10px;
//   max-width: 300px;
//   h3{
//     padding: 10px;
//   }
//   section{
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//   }
// >>>>>>> old format
}

.indicator-box{

}

.green{
  display: block;
  background-color: green;
  font-size: 4px;
  float: left;
  padding: 5px;
  word-wrap: break-word;
  font-size: 2px;
  height: 10px;
  color: green;
}
