<!DOCTYPE html>
<html>
  <head>
    <title>SwiftTailor</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple|Pacifico|Swanky+and+Moo+Moo" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
